<launch>
  
  <arg name="opcua_ip" default="opc.tcp://172.30.1.61:4840/freeopcua/server/"/>
  
  <!-- OPC UA read node -->
  <node pkg="amr_opcua"
        type="read_opcua_node.py"
        name="read_opcua"
        output="screen">
    <param name="opcua_url"
           value="$(arg opcua_ip)" />
  </node>

  <!-- OPC UA write node -->
  <node pkg="amr_opcua"
        type="write_opcua_node.py"
        name="write_opcua"
        output="screen">
    <param name="opcua_url"
           value="$(arg opcua_ip)" />
  </node>

  <!-- AMR go_move node (C++: amr_go_move.cpp) -->
  <!-- NOTE: If your executable name is different (e.g. amr_go_move),
       change the 'type' field accordingly. -->
  <node pkg="amr_opcua"
        type="amr_go_move_node"
        name="amr_go_move"
        output="screen">
    
    <!-- go_home pose -->
    <param name="go_home_x"
           value="0.0" />
    <param name="go_home_y"
           value="0.2" />
    <param name="go_home_yaw_deg"
           value="0.0" />
                  
    <!-- go_standby pose -->
    <param name="go_standby_x"
           value="3.20" />
    <param name="go_standby_y"
           value="-0.7" />
    <param name="go_standby_yaw_deg"
           value="90.0" />

    <!-- pick_up_zone pose -->
    <param name="pick_up_zone_x"
           value="-0.028955131769180298" />
    <param name="pick_up_zone_y"
           value="0.5189433097839355" />
    <param name="pick_up_zone_yaw_deg"
           value="0.0" />

    <!-- esp32 pose -->
    <param name="esp32_x"
           value="2.783353567123413" />
    <param name="esp32_y"
           value="-2.940829038619995" />
    <param name="esp32_yaw_deg"
           value="-90.0" />

    <!-- motordriver pose (example values) -->
    <param name="motordriver_x"
           value="1.1764261722564697" />
    <param name="motordriver_y"
           value="-2.9662137031555176" />
    <param name="motordriver_yaw_deg"
           value="-90.0" />

    <!-- powersuplpy pose (example values) -->
    <param name="powersupply_x"
           value="-0.779" />
    <param name="powersupply_y"
           value="-2.570" />
    <param name="powersupply_yaw_deg"
           value="-90.0" />

  </node>

  <!-- Serial settings -->
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="baud" default="115200"/>
  <arg name="timeout" default="1.0"/>
  <arg name="write_newline" default="true"/>
  <arg name="reconnect_on_fail" default="true"/>
  <arg name="reconnect_delay" default="0.5"/>
  
  <node pkg="amr_mcu"
        type="amr_mcu_serial_node.py"
        name="amr_mcu_serial_node"
        output="screen"
        respawn="true"
        respawn_delay="1.0">

    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
    <param name="timeout" value="$(arg timeout)"/>
    <param name="write_newline" value="$(arg write_newline)"/>
    <param name="reconnect_on_fail" value="$(arg reconnect_on_fail)"/>
    <param name="reconnect_delay" value="$(arg reconnect_delay)"/>
  </node>
  
  <!-- parameter -->
  <arg name="equipment_id" default="AMR01" />

  <!-- ========================= -->
  <!-- 1) AMR STATE DB LOGGER -->
  <!-- ========================= -->
  <node pkg="amr_db_logger"
        type="amr_state_db_logger_node"
        name="amr_state_db_logger"
        output="screen">

    <!-- equipment_id -->
    <param name="equipment_id" value="$(arg equipment_id)" />

    <!-- subscribe TOPIC -->
    <param name="topic_amcl" value="/amcl_pose" />
    <param name="topic_odom" value="/odom" />

    <!-- Frequency -->
    <param name="write_hz" value="1.0" />

    <!-- STOP processing -->
    <param name="stop_mode" value="pause" />
    <param name="stale_warn_sec" value="1.0" />
    <param name="default_status" value="RUNNING" />
    <param name="start_enabled" value="false" />
  </node>

  <!-- ========================= -->
  <!-- 2) MISSION LOGGER -->
  <!-- ========================= -->
  <node pkg="amr_db_logger"
        type="amr_mission_logger_node"
        name="amr_mission_logger"
        output="screen">

    <param name="equipment_id" value="$(arg equipment_id)" />
  </node>
  
</launch>
