<launch>

  <!-- OPC UA read node -->
  <node pkg="amr_opcua"
        type="read_opcua_node.py"
        name="read_opcua"
        output="screen">
    <param name="opcua_url"
           value="opc.tcp://172.30.1.61:0630/freeopcua/server/" />
  </node>

  <!-- OPC UA write node -->
  <node pkg="amr_opcua"
        type="write_opcua_node.py"
        name="write_opcua"
        output="screen">
    <param name="opcua_url"
           value="opc.tcp://172.30.1.61:0630/freeopcua/server/" />
  </node>

  <!-- AMR go_move node (C++: amr_go_move.cpp) -->
  <!-- NOTE: If your executable name is different (e.g. amr_go_move),
       change the 'type' field accordingly. -->
  <node pkg="amr_opcua"
        type="amr_go_move_node"
        name="amr_go_move"
        output="screen">

    <!-- go_home pose (example values, change to your map pose) -->
    <param name="go_home_x"
           value="-0.7507189512252808" />
    <param name="go_home_y"
           value="0.510118305683136" />
    <param name="go_home_yaw_deg"
           value="0.0" />

    <!-- pick_up_zone pose -->
    <param name="pick_up_zone_x"
           value="-0.028955131769180298" />
    <param name="pick_up_zone_y"
           value="0.5189433097839355" />
    <param name="pick_up_zone_yaw_deg"
           value="0.0" />

    <!-- esp32 pose -->
    <param name="esp32_x"
           value="-0.18510204553604126" />
    <param name="esp32_y"
           value="2.7689642906188965" />
    <param name="esp32_yaw_deg"
           value="90.0" />

    <!-- motordriver pose (example values) -->
    <param name="motordriver_x"
           value="2.166576623916626" />
    <param name="motordriver_y"
           value="2.8864500522613525" />
    <param name="motordriver_yaw_deg"
           value="90.0" />

    <!-- powersuplpy pose (example values) -->
    <param name="powersuplpy_x"
           value="4.279068946838379" />
    <param name="powersuplpy_y"
           value="2.5080320835113525" />
    <param name="powersuplpy_yaw_deg"
           value="0.0" />

  </node>

</launch>
