<launch>
    <node pkg="amr_opencv" type="amr_aruco_all_in_one.py" name="amr_aruco_all_in_one" output="screen">
      <param name="camera_id" value="0"/>
      <param name="cmd_vel_topic" value="/cmd_vel"/>
      <param name="display" value="true"/>
    
      <!-- distance thresholds -->
      <param name="far_cm" value="70.0"/>
      <param name="mid_cm_low" value="35.0"/>
      <param name="mid_cm_high" value="70.0"/>
    
      <!-- arrival cm by id -->
      <rosparam param="arrival_cm_by_id">{ "1": 40.0, "2": 35.0, "5": 20.0, "6": 20.0 }</rosparam>
    
      <!-- id6 -->
      <param name="id6_extra_cm" value="20.0"/>
      <param name="id6_extra_speed" value="0.12"/>
      
      <!-- speed -->
      <param name="forward_speed" value="0.08"/>
      <param name="nudge_speed" value="0.05"/>
      <param name="nudge_time" value="0.20"/>
    
      <!-- search -->
      <param name="search_steps_each_side" value="4"/>
      <param name="search_check_frames" value="14"/>
    </node>
</launch>
