<launch>

    <include file="$(find myagv_navigation)/launch/gmapping.launch"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find myagv_navigation)/rviz/gmapping.rviz"/>

  <!-- IMU publisher: publishes /imu_data (sensor_msgs/Imu) -->
  <node pkg="amr_imu_pkg"
        type="imu_publisher.py"
        name="imu_publisher"
        output="screen" />

  <!-- Laser: base_footprint -> laser_frame -->
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_footprint_to_laser_frame"
        args="0.065 0.0 0.08 3.14159265 0.0 0.0 base_footprint laser_frame 10" />
        
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_footprint_to_base_link"
        args="0 0 0 0 0 0 base_footprint base_link 50" />

  <!-- IMU: base_link -> external_imu_link -->
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_link_to_external_imu"
        args="0 0 0 0 0 0 base_link external_imu_link 30" />

  <!-- wheel odom + IMU yaw fusion (robot_pose_ekf)
       Subscribes: /odom, /imu_data, /vo
       Publishes: /robot_pose_ekf/odom_combined, TF (odom -> base_footprint)
  -->
  <node pkg="robot_pose_ekf"
        type="robot_pose_ekf"
        name="robot_pose_ekf"
        output="screen">

    <!-- Default input topic names are /odom and /imu_data -->
    <!--
    <remap from="odom"     to="/odom" />
    <remap from="imu_data" to="/imu_data" />
    -->

    <!-- EKF output frame (should match AMCL odom_frame_id) -->
    <param name="output_frame" value="odom" />

    <!-- Robot base footprint frame -->
    <param name="base_footprint_frame" value="base_footprint" />

    <!-- EKF update frequency and sensor timeout -->
    <param name="freq" value="10.0" />
    <param name="sensor_timeout" value="1.0" />

    <!-- Enabled sensors -->
    <param name="odom_used" value="true" />
    <param name="imu_used"  value="true" />
    <param name="vo_used"   value="false" />
    <param name="gps_used"  value="false" />
    
    <param name="odom_data" value="odom" />

    <param name="debug"         value="false" />
    <param name="self_diagnose" value="false" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
    args="0.0 0.0 0.2 3.1415 0.0 0 /base_footprint /laser_frame 40" />
</launch>

