<launch>

    <node pkg="myagv_odometry" type="myagv_odometry_node" name="myagv_odometry_node"/>
    <param name="robot_description" textfile="$(find myagv_urdf)/urdf/myAGV.urdf"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include file="$(find ydlidar_ros_driver)/launch/X2.launch" />
    
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find myagv_navigation)/param/amcl.yaml" command="load" />
        <param name="initial_pose_x" value="0.0"/>
        <param name="initial_pose_y" value="0.0"/>
        <param name="initial_pose_a" value="0.0 "/>
    </node>
    
    <node pkg="amr_opencv" type="amr_aruco_all_in_one.py" name="amr_aruco_all_in_one" output="screen"/>

</launch>
